# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Project specific

output/
*.log

# IDE
.vscode/
.idea/
whenv/Lib/
whenv/
models/models--mobiuslabsgmbh--faster-whisper-large-v3-turbo/
models/pyannote/
models/wav2vec2_base/
