numpy==1.23.5
pandas==2.2.2
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
whisperx==3.3.1
fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.3
requests
httpx
pytest
aiohttp
aiofiles
humanize
pyannote.audio>=3.0.0
